  /* Profile overview section */

  .right {
    transition: all 0.5s;
    margin-left: 72px;
  }

.right #profile .header {
  background: white;
  display: block;
  border: 1px solid #e6e6e6;
  padding: 15px 30px;
  margin-left: 129px;
}
.right #profile .header h4 {
  display: inline-block;
  color: #354052;
}
.right #profile .header ul {
  right: 0;
  left: inherit;
  max-width: 350px;
}
.right #profile .header ul li {
  display: inline-block;
  padding-left: 20px;
}
.right #profile .header ul li .btn-group i.fa-user-o, .right #profile .header ul li .btn-group i.fa-bell-o {
  color: #b3b3b3;
  font-size: 24px;
  cursor: pointer;
}
.right #profile .header ul li .btn-group i.fa-user-o:nth-child(1):after, .right #profile .header ul li .btn-group i.fa-bell-o:nth-child(1):after {
  content: "3";
  background: orange;
  color: white;
  font-size: small;
  padding: 4px 7px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  left: 10px;
}
.right #profile .header ul li .btn-group i.fa-angle-down {
  cursor: pointer;
}
.right #profile .header ul li .btn-group .dropdown-menu {
  padding: 0;
}
.right #profile .header ul li .btn-group .dropdown-menu li {
  padding-left: 0;
  display: block;
  border-bottom: 1px solid #e6e6e6;
}
.right #profile .header ul li .btn-group .dropdown-menu li:nth-child(1) .alert-card i.fa {
  color: #00b300;
}
.right #profile .header ul li .btn-group .dropdown-menu li:nth-child(2) .alert-card i.fa {
  color: #b300b3;
}
.right #profile .header ul li .btn-group .dropdown-menu li:nth-child(3) .alert-card i.fa {
  color: #354052;
}
.right #profile .header ul li .btn-group .dropdown-menu li:last-child {
  border-bottom: none;
}
.right #profile .header ul li .btn-group .dropdown-menu li a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.right #profile .header ul li .btn-group .dropdown-menu li a:hover {
  background: #e5e8ee;
}
.right #profile .header ul li .btn-group .dropdown-menu li a .alert-card {
  display: flex;
}
.right #profile .header ul li .btn-group .dropdown-menu li a .alert-card img, .right #profile .header ul li .btn-group .dropdown-menu li a .alert-card i.fa {
  height: 40px;
  margin-right: 15px;
}
.right #profile .header ul li .btn-group .dropdown-menu li a .alert-card p {
  color: #354052;
  margin-bottom: 0;
}
.right #profile .header ul li .btn-group .dropdown-menu li a .alert-card p small {
  color: #7f8fa4;
  width: 100%;
  white-space: pre-line;
}
.right #profile .header ul li .dropdown-avatar img {
  height: 35px;
}
.right #profile .header ul li .dropdown-avatar i.fa {
  padding-left: 8px;
}
.right #profile .content {
  margin: 0 30px 15px 129px;
}
.right #profile .content .s-inv-card {
  background: white;
  margin-top: 20px;
  padding: 2rem 4rem;
  box-shadow: 0 0 10px #cad0d9;
  min-height:600px ;
}

.right #profile .content .s-inv-card .row {
  display: flex;
}

.right #profile .content .s-inv-card .row img{
  height: 600px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 10px #b3b3b3;
  margin-right: 40px ;
}

.right #profile .content .s-inv-card .row .details h3 span{
  color: rgb(174, 174, 238);
  font-weight: 600;
}

.right #profile .content .s-inv-card .row .details div{
  display: flex;
  flex-direction: column;
}
.right #profile .content .s-inv-card .row .details div a{
  color: white;
  text-align: center;
  margin: 10px 80px;
  text-decoration: none;
  outline: none;
  background-color: #00b300;
  border-radius: 4px;
  border: 2px solid green;
  height: 25px;

}

